{% extends 'master.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Daves Crafting Table</a>
    <ul class="nav justify-content-end">
      <style>
      .nav-link {
        color: white;
      }
      .nav-item>a:hover {
            color: goldenrod;
        }
    </style>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">interests</a>
      </li>
    </ul>
  </div>

</nav>

{%endblock%}